<section class="top">
    <div class="container">
        <div class="top__content">
            <h1 class="top__title"><span>Lorem ipsum</span> dolor sit<br> amet
                consectetur <span>adipiscing</span></h1>
            <div class="top__subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus!</div>
            <ul class="top__list">
                <li>Totam rem aperiam eaque ipsa</li>
                <li>Sit voluptatem accusantium doloremque laudantium</li>
                <li>Sed ut perspiciatis, unde omnis iste natus error</li>
            </ul>
            <div class="top__btns">
                <a href="#" class="top__btn btn">заказать</a>
                <a href="#" class="top__btn btn btn--wh">подробнее</a>
            </div>
        </div>
    </div>
</section>