<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo">
                <a href="/">LoremIpsum.<span>Net</span></a>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a href="#">Бизнес</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Оформить заказ</a></li>
                </ul>
            </nav>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
    </div>
</header>