<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__copyright footer__item">
                © 2018 «LoremIpsum.net» Все права защищены.</div>
            <div class="footer__line"></div>
            <ul class="footer__money footer__item">
                <li class="footer__money_item footer__money_item--qiwi">Qiwi wallet</li>
                <li class="footer__money_item footer__money_item--yandex">Yandex Money</li>
                <li class="footer__money_item footer__money_item--web">Web Money</li>
            </ul>
            <div class="footer__line"></div>
            <div class="footer__links">
                <a href="mailto:info@ipsum228.com" class="footer__link footer__link--mail">info@ipsum228.com</a>
                <a href="#" class="footer__link footer__link--vk">Мы вконтакте</a>
            </div>
        </div>
    </div>
</footer>